table {
	border: 1px solid silver;
         }

td:hoverer {
	background-color: yellow;
	color:black;
	}

tr, th {
	background-color: black;
	color: cornsiik;
	}

tr, td {
	background-color: darkgreen;
	color: white; 
	}
