html {
    font-family: fantasy;
    font-size: medium;
}

body {
    font-size: 16px;
    margin: 0;
    font-family: Cambria, Georgia, serif;
    text-align: center;
    border-style: solid;
    border-color: black;
    background-color: rgb(196, 232, 232);
    padding: 15px;
}

h1 {
    font-weight: 200;
    font-size: 74px;
}

#nav {
    display: inline-block;
    margin: 0;
    text-align: center;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: larger;
    color: bisque;
    padding: 15px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        background-color: black;
    }

    li {
        float: left;
        color: blanchedalmond;
        margin: 20px;
        padding: 20px;
        text-align: center;
    }

    li a {
        display: inline-center;
        color: blanchedalmond;
        text-align: center;
        padding: 16px;
        text-decoration: none;

    }
}

h1 {
    display: inline;
    height: 2px;
    width: 50px;
    margin: 15px auto 40 px;
    padding: 59px;
}


#welcome {
    margin: 15px;
    padding: 50px;
}

.contaner {
    margin: 15px;
    padding: 5px 20px 20px 20px;
    border: 1px dotted #fff;
}

.photo {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;


    /*lightbox css */
    .row>.column {
        padding: 0 8px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Create  columns that floats next to eachother */
    .column {
        float: left;
        width: 33%;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 50%;
        height: 50%;
        overflow: auto;
        background-color: rgb(39, 79, 81);
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 1200px;
    }

    /* The Close Button */
    .close {
        color: rgb(117, 152, 177);
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #6b6969;
        text-decoration: none;
        cursor: pointer;
    }

    /* Hide the slides by default */
    .mySlides {
        display: none;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: rgb(13, 4, 4);
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add background color  a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* Number text (photo 1) */
    .numbertext {
        color: #c0d2d5;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* Caption text */
    .caption-container {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
    }

    img.demo {
        opacity: 0.6;
    }

    .active,
    .demo:hover {
        opacity: 1;
    }

    img.hover-shadow {
        transition: 0.3s;
    }

    .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    /* end lightbox*/

}

#massage {
    margin: 15px;
    height: auto;
    width: auto;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding: 5px 20px 20px 20px;
    border: 1px dotted #fff;
    padding: 5px;
}

#facial {
    margin: 15px;
    height: auto;
    width: auto;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding: 5px 20px 20px 20px;
    border: 1px dotted #fff;
    padding: 5px;
}

#nail {
    margin: 15px;
    height: auto;
    width: auto;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding: 5px 20px 20px 20px;
    border: 1px dotted #fff;
    padding: 5px;

}

#appointment {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding: 5px 20px 20px 20px;
    border: 1px dotted #fff;
    padding: 5px;

}